@page "/"
@using NoLock.Social.Components.Identity
@using NoLock.Social.Components.Content
@using NoLock.Social.Components.Storage

<PageTitle>NoLock Social - Decentralized Identity Platform</PageTitle>

<div class="container-fluid">
    <h1>NoLock Social Platform</h1>
    <p class="lead">A decentralized identity and content management system with cryptographic security.</p>
    
    <div class="row">
        <div class="col-md-12 mb-4">
            <IdentityStatusComponent />
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 mb-4">
            <IdentityUnlockComponent />
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 mb-4">
            <ContentSigningComponent />
        </div>
        <div class="col-md-6 mb-4">
            <SignatureVerificationComponent />
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 mb-4">
            <CASIntegrationComponent />
        </div>
    </div>
</div>
